.text-box-container {
  background-color: #3798D4;
  bottom: 0;
  left: 0;
  right: 0;
  position: sticky;
}

.text-box-layout {
  max-width: 640px;
  margin: 0 auto;
  padding: 8px 0;
  box-sizing: border-box;
}

.text-box-form {
  display: flex;
  flex-flow: row nowrap;
}

.text-box-send {
  width: 120px;
  height: 70px;
  line-height: 70px;
  background-color: #FF876D;
  border: none;
  color: #FFF;
  font-weight: 600;
  border-radius: 5px;
  margin-left: 8px;
  cursor: pointer;
  font-size: 1.4rem;
}

.text-box-input {
  flex-grow: 1;
  border: solid 2px #2E77A4;
  border-radius: 5px;
  padding: 0 8px;
  color: #B3BCC3;
  caret-color: #2E77A4;
  font-size: 1.4rem;
}

.text-box-input:focus {
  outline: none;
}

.text-box-input::placeholder {
  color: #B3BCC3;
}

@media (min-width: 320px) and (max-width: 767px) {
  .text-box-layout {
    max-width: 100%;
    padding: 8px;
  }
}
