.app-container {
  min-height: 100%;
}

.content {
  max-width: 640px;
  margin: 0 auto;
}

@media (min-width: 320px) and (max-width: 767px) {
  .content {
    max-width: 100%;
    padding: 0 24px;
    margin: 0 auto;
  }
}
