.message-container {
  display: flex;
  justify-content: flex-start;
}

.message-wrapper {
  margin: 8px 0;
  padding: 16px;
  border: solid 1px #D1D7DC;
  border-radius: 5px;
  background-color: #FFF;
  display: inline-block;
  max-width: 65%;
  line-height: 2rem;
}

.secondary-text {
  color: #A2ADB6;
  font-size: 1.4rem;
}

.primary-text {
  color: #00001D;
  font-size: 1.6rem;
}

.my-message-wrapper {
  background-color: #FBF5BD;
  margin: 16px 0;
}

.my-message-container {
  justify-content: flex-end;
}

.my-message-wrapper .date-text {
  text-align: right;
}

